.dx-loadindicator {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.actions {
  padding: 32px 0;

  .dx-button {
    margin-right: 16px;
  }
}

.dx-toolbar-button.dx-toolbar-text-auto-hide .dx-button-has-icon.dx-button-has-text {
  border: 1px solid lightgray;
}

.dx-datagrid-export-button {
  border: 1px solid lightgray !important;
  border-radius: 4px;
}
